<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="App_warehouse.Properties.Settings.informacionConnectionString"
            connectionString="Data Source=LAPTOP-RK8B71RQ\SQLEXPRESS;Initial Catalog=informacion;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="App_warehouse.Properties.Settings.warehouseConnectionString"
            connectionString="Data Source=WIN-UFKCTF3II66\SQLEXPRESS;Initial Catalog=warehouse;User ID=jose;Password=12345"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>